{% extends 'base.html.twig' %}

{% block body_id 'show_servers' %}
{% block body %}
    <table>
        <thead>List of KRISP Servers</thead>
        <tr>
            <td>Server ID</td>
            <td>Name</td>
            <td>IP Address</td>
            <td>Instructions to Access</td>
            <td>Instructions to Request Access</td>
        </tr>
        {% for server in servers %}
        <tr>
            <td><a href="{{ path('update_server', {svr_id: server.svrId}) }}">{{ server.svrId }}</a></td>
            <td>{{ server.svrName }}</td>
            <td>{{ server.svrAddr }}</td>
            <td>{{ server.instnsToAccess }}</td>
            <td>{{ server.instnsToReqAcc }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}