{% extends 'admin/layout.html.twig' %}

{% block body_id 'show_servers' %}
{% block main %}
    <h1>KRISP Servers</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Server ID (click to edit)</th>
            <th>Name</th>
            <th>IP Address</th>
            <th>Instructions to Access</th>
            <th>Instructions to Request Access</th>
        </tr>
        </thead>
        {% for server in servers %}
        <tr>
            <td><a href="{{ path('update_server', {svr_id: server.svrId}) }}">{{ server.svrId }}</a></td>
            <td>{{ server.svrName }}</td>
            <td>{{ server.svrAddr }}</td>
            <td>{{ server.instnsToAccess }}</td>
            <td>{{ server.instnsToReqAcc }}</td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
{% block sidebar %}

    {{ parent() }}
{% endblock %}