<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="#" >Admin</a></li>
        <li class="list-group-item"><a href="#" >Manage Team</a></li>
        <li class="list-group-item"><a href="{{ path('get_pub_details') }}" >Manage Publications</a></li>
        <li class="list-group-item"><a href="{{ path('view_software') }}" >Manage Software</a></li>
        <li class="list-group-item"><a href="{{ path('view_cats') }}" >Manage Categories</a></li>
        <li class="list-group-item"><a href="{{ path('view_subcats') }}" >Manage Subategories</a></li>
        <li class="list-group-item"><a href="{{ path('show_servers') }}" >Manage Servers</a></li>
        <li class="list-group-item"><a href="#" >Manage Software Commands</a></li>
    </ul>
</div>