{% extends 'base.html.twig' %}

{% block body_id 'admin_home' %}

{% block body %}
    <div class="row">
        <div id="main" class="col-sm-4">
            {% block main %}
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="{{ path('view_profile') }}" >Manage Profile</a></li>
                        <li class="list-group-item"><a href="{{ path('view_users') }}" >Manage Users</a></li>
                        <li class="list-group-item"><a href="{{ path('view_sw_cat') }}" >Manage Categories</a></li>
                        <li class="list-group-item"><a href="{{ path('view_servers') }}" >Manage Servers</a></li>
                        <li class="list-group-item"><a href="{{ path('view_commands') }}" >Manage Software Commands</a></li>
                    </ul>
                </div>
            {% endblock %}
        </div>

        <div id="sidebar" class="col-sm-8">
            {% block sidebar %}
                <div class="main-content">


                </div>
                {# {{ render_esi(controller('Symfony\\Bundle\\FrameworkBundle\\Controller\\TemplateController::templateAction', {
                    'template': 'blog/about.html.twig',
                    'sharedAge': 600,
                    '_locale': app.request.locale
                })) }} #}
            {% endblock %}
        </div>
    </div>
{% endblock %}