{% extends 'admin/layout.html.twig' %}

{% block body_id 'reg_admin' %}

{% block main %}
    <h1>Register Admin</h1>

    {{ form_start(form) }}
        {{ form_row(form.fullName) }}
        {{ form_row(form.email) }}
        {{ form_row(form.username) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        {{ form_row(form.roles) }}

        <button type="submit" class="btn btn-primary">
            <label>Register Admin</label> <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('update_profile', {admin_id : app.user.id}) }}" class="btn-link btn-success btn-primary btn">
            Update Profile
        </a>
    </div>
    {{ parent() }}
{% endblock %}