{% extends 'admin/layout.html.twig' %}

{% block body_id 'update_profile' %}

{% block main %}
    <h1>Update Profile</h1>

    {{ form_start(form) }}
        {{ form_row(form.fullName) }}
        {{ form_row(form.email) }}
        {{ form_row(form.username) }}
        {{ form_row(form.plainPassword.first) }}
        {{ form_row(form.plainPassword.second) }}
        {{ form_row(form.roles) }}

        <button type="submit" class="btn-link">
            <label>
                Update Profile
            </label> <i class="fa fa-edit" aria-hidden="true"></i>
        </button>
    {{ form_end(form) }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}
{% endblock %}