{% extends 'admin/layout.html.twig' %}

{% block body_id 'view_team' %}

{% block main %}
    <h1>View KRISP Team</h1>
    <table class="table">
        <thead>
            <tr>
                <th>View Detail</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Category</th>
                <th>Member Status</th>
            </tr>
        </thead>
        {% for member in team %}
        <tr>
                <td><a href="{{ path('update_member_profile', {id : member.id}) }}" class="link"><img src="/imagesBIO/{{ member.image}}" alt="emoji"></a></td>
                <td>{{ member.name }}</td>
                <td>{{ member.email }}</td>
                <td>{{ member.telephone }}</td>
                <td>{{ member.category }}</td>
                <td>{{ member.member }}</td>
                <td> </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}