{% extends 'admin/layout.html.twig' %}

{% block body_id 'view_locns' %}

{% block main %}
    <h1>Software Locations</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Software Name</th>
                <th scope="col">Server Name</th>
                <th scope="col">Install Location</th>
                <th scope="col">Install Date</th>
                <th scope="col">Instructions to Access</th>
                <th scope="col">Instruction to Req. Access</th>
                <th>Edit</th>
            </tr>
        </thead>
        {% for locn in locns %}
            <tr>
                <td>{{ locn.software.swName }}</td>
                <td>{{ locn.server.svrName }}</td>
                <td>{{ locn.installLocn }}</td>
                <td>{{ locn.installDate | date('Y-m-d')}}</td>
                <td>{{ locn.howToLoad }}</td>
                <td>{{ locn.howToUnload }}</td>
                <td><a href="{{ path('update_locn', {locnId : locn.id}) }}" class="btn-link"><i class="fa fa-edit"></i></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
{% block sidebar %}
   {{ parent() }}
{% endblock %}