{% extends 'admin/layout.html.twig' %}

{% block body_id 'add_pub' %}

{% block main %}
    <h1>Add New Publication</h1>

    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.authors) }}
        {{ form_row(form.abstract) }}
        {{ form_row(form.journal) }}
        {{ form_row(form.volume) }}
        {{ form_row(form.citations) }}
        {{ form_row(form.link) }}
        {{ form_row(form.file) }}
        {{ form_row(form.keywords) }}
        {{ form_row(form.topdescription) }}
        {{ form_row(form.pages) }}
        {{ form_row(form.datafile) }}
        {{ form_row(form.date) }}
        {{ form_row(form.doi) }}
        {{ form_row(form.issn) }}
        {{ form_row(form.impact) }}
        {{ form_row(form.bioafricaSATuRN) }}
        {{ form_row(form.video) }}
        {{ form_row(form.shorttitle) }}
        {{ form_row(form.feature) }}
        {{ form_row(form.projectid) }}
        <button type="submit" class="btn btn-primary" formnovalidate>
            Add Publication
        </button>
    {{ form_end(form) }}
{% endblock %}