{% extends 'admin/layout.html.twig' %}

{% block body_id 'view_pubs' %}

{% block main %}
    <h1>View Publications</h1>

    <table class="table">
        <thead>
            <th>Title</th>
            <th>Authors</th>
            <th>Date</th>
            <th>Journal</th>
            <th>Volume</th>
        </thead>
        {% for pub in pubs %}
            <tr>
                <td><a href="{{ path('update_pub', {id : pub.id}) }}" class="">{{ pub.title }}</a></td>
                <td>{{ pub.authors | raw}}</td>
                <td>{{ pub.date }}</td>
                <td>{{ pub.journal }}</td>
                <td>{{ pub.volume }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}